.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/hawaii.jpg"); 
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    margin: 0;
}

.card-adjust-size {
    height: 40vh;
}

.image-adjust {
    height: 50vh;
    width: 100%;
}

.footer {
    background-color: #193249;
    height: 100px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

link:hover {
    text-decoration: none;
}
  
link:active {
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .buttons-responsive {
        align-self: center;
        width: 80%;
    }

    .gallery-container {
       flex-direction: column;
    }
   
    .gallery-item {
        width: 100% !important;
        height: 400px;
    }
   
    .card-responsive {
        padding: 0px 70px;
    }
 }